*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(175, 136, 190);
}

header .main footer {
    /* background-color: darksalmon; */
    width: 90%;
    max-width: 1000px; 
    margin: 20px auto;
}
header nav {
    background-color: rgb(123, 12, 175);
    overflow: hidden;/* Limpia los float left*/
}

header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a {
    padding: 10px 20px;
    display:block; /* para poder colocar un paddir superior */
    color: #080808;
    text-decoration:none, 
} 
header nav ul li a:hover{
    background-color: rgb(221, 11, 186);
}
.main .articuls {
    width: 68.5%; 
    margin-right: 1.5%;
    float: left;
    background-color: rgb(163, 54, 196);
}
aside{
    width:30%;
    background-color:rgb(238, 255, 0); 
    float:left;
    padding: 20px;
    box-sizing: border-box
}
.main,.articuls article{
    padding:20px;
    background: rgb(110, 7, 70);
    margin-bottom: 20px;
}
footer{
    background: rgb(225, 0, 245);
    color: rgb(0, 0, 0);
    clear:both;
    padding:10px 2px;
    text-align: center;
}   






